/* .art-number {
  display: flex;
  flex-direction: row;
  display: grid;
  display: inline-block;
  grid-template-columns: 120px 120px 2fr;
} */
.one-art {
  display: grid;
  grid-template-columns: 0.5fr 11fr;
  background-color: #f6f6f6;
}

.stroka {
  border: 1px solid rgb(10, 10, 10);
  padding: 10px;
}
.nomenclature {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.block-1 {
  display: block;
}
.blocknom {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.col-sizes {
  display: flex;
  flex-direction: column;
}
.groupnom {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.block-in {
  display: flex;
  flex-direction: row;
}
.rez {
  display: flex;
}
input {
  width: 15px;
  height: 10px;
}
/* del arrow in input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
